/*=============================================>>>>>
= Gutenberg Editor Styles =
===============================================>>>>>*/
/*-------------------------------------------------------------------------*/
/*	Transitions and Transforms
/*-------------------------------------------------------------------------*/
/*=============================================>>>>>
= Colors =
===============================================>>>>>*/
body {
  color: #666975; }

a {
  color: #4138D4; }
  a:hover {
    color: #1f213a; }

.has-gb-primary-color {
  color: #4138D4; }

.has-gb-primary-background-color {
  background-color: #4138D4; }

.has-gb-secondary-color {
  color: #1f213a; }

.has-gb-secondary-background-color {
  background-color: #1f213a; }

.has-gb-tertiary-color {
  color: #666975; }

.has-gb-tertiary-background-color {
  background-color: #666975; }

.has-gb-customone-color {
  color: #f3f3f5; }

.has-gb-customone-background-color {
  background-color: #f3f3f5; }

.has-gb-customthree-color {
  color: #f50057; }

.has-gb-customthree-background-color {
  background-color: #f50057; }

.has-gb-customfour-color {
  color: #aa00ff; }

.has-gb-customfour-background-color {
  background-color: #aa00ff; }

.has-gb-customfive-color {
  color: #6200ea; }

.has-gb-customfive-background-color {
  background-color: #6200ea; }

.has-gb-customsix-color {
  color: #00c853; }

.has-gb-customsix-background-color {
  background-color: #00c853; }

.has-gb-customseven-color {
  color: #00b0ff; }

.has-gb-customseven-background-color {
  background-color: #00b0ff; }

.has-gb-customeight-color {
  color: #ffd600; }

.has-gb-customeight-background-color {
  background-color: #ffd600; }

.has-gb-customnine-color {
  color: #ff3d00; }

.has-gb-customnine-background-color {
  background-color: #ff3d00; }

.has-gb-customten-color {
  color: #fff; }

.has-gb-customten-background-color {
  background-color: #fff; }

.has-gb-customeleven-color {
  color: #4e342e; }

.has-gb-customeleven-background-color {
  background-color: #4e342e; }

.has-gb-customtwelve-color {
  color: #546e7a; }

.has-gb-customtwelve-background-color {
  background-color: #546e7a; }

.has-gb-customthirteen-color {
  color: #cfd8dc; }

.has-gb-customthirteen-background-color {
  background-color: #cfd8dc; }

.hfeed .media-body .entry-title a,
.hfeed .media-body .entry-meta a {
  color: #1f213a; }
  .hfeed .media-body .entry-title a:hover,
  .hfeed .media-body .entry-meta a:hover {
    color: #4138D4; }

/*=============================================>>>>>
= Block Margins =
===============================================>>>>>*/
.editor-writing-flow > div > div > div > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit > [data-block] {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

/*=============================================>>>>>
= Widths =
===============================================>>>>>*/
.wp-block {
  max-width: 800px; }

/* Width of "wide" blocks */
/* Bootstrap Container Default */
.wp-block[data-align="wide"] {
  max-width: 1170px; }

/*=============================================>>>>>
= Common Typography  =
===============================================>>>>>*/
.editor-block-list__block {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #666975;
  font-weight: 300;
  font-size: 18px; }
  .editor-block-list__block h1 {
    font-size: 48px;
    line-height: 1.3em; }
  .editor-block-list__block h2 {
    font-size: 32px;
    line-height: 1.2; }
  .editor-block-list__block h3 {
    font-size: 28px;
    line-height: 1.45em; }
  .editor-block-list__block h4 {
    font-size: 24px;
    line-height: 1.45em; }

.editor-styles-wrapper [data-block] h1, .editor-styles-wrapper [data-block] h2,
.editor-styles-wrapper [data-block] h3, .editor-styles-wrapper [data-block] h4,
.editor-styles-wrapper [data-block] h5, .editor-styles-wrapper [data-block] h6 {
  color: #1f213a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif; }
  .has-custom-text-color .editor-styles-wrapper [data-block] h1, .has-custom-text-color .editor-styles-wrapper [data-block] h2, .has-custom-text-color
  .editor-styles-wrapper [data-block] h3, .has-custom-text-color .editor-styles-wrapper [data-block] h4, .has-custom-text-color
  .editor-styles-wrapper [data-block] h5, .has-custom-text-color .editor-styles-wrapper [data-block] h6 {
    color: inherit; }

.editor-block-list__layout > .wp-block[data-type="core/heading"] [data-block] {
  margin-bottom: 0 !important; }

/*=============================================>>>>>
= Paragraphs =
===============================================>>>>>*/
.edit-post-visual-editor .editor-block-list__block p {
  margin-top: 0;
  margin-bottom: 1rem; }

.editor-block-list__layout > .wp-block[data-type="core/heading"] + .wp-block[data-type="core/paragraph"] [data-block] {
  margin-top: 0 !important; }

.wp-block-paragraph.has-large-font-size {
  font-size: 36px; }

.edit-post-visual-editor a {
  color: #4138D4;
  text-decoration: none; }

.block-editor-rich-text__editable a {
  text-decoration: none; }

.wp-block-cover__inner-container p {
  color: #f8f9f9; }

.editor-styles-wrapper .has-custom-text-color p,
#wpwrap .edit-post-visual-editor .has-custom-text-color .editor-block-list__block {
  color: inherit; }

/*=============================================>>>>>
= Quotes =
===============================================>>>>>*/
.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-color: rgba(0, 0, 0, 0.2); }

.wp-block-quote:not(.is-large):not(.is-style-large) {
  padding: 1em 2em; }

.wp-block[data-type="core/quote"] p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.7; }

.wp-block-quote__citation {
  font-size: 14px;
  font-style: italic; }

.editor-post-title__block .editor-post-title__input {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: #1f213a;
  text-align: center;
  font-size: 48px; }

.wp-block-cover p.editor-rich-text__tinymce.wp-block-cover-text {
  font-size: 2em;
  line-height: 1.25; }

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none; }

.kioken-editor .kt-row-has-bg .editor-block-list__block.is-selected {
  outline: 1px dashed rgba(255, 255, 255, 0.5); }

.kioken-editor .editor-post-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px; }

.kioken-editor .editor-post-title__block .editor-post-title__input {
  text-align: center; }

.kioken-editor pre {
  background: #f6f6f6;
  font-family: "Courier 10 Pitch",Courier,monospace;
  font-size: 14px;
  font-size: .8125rem;
  line-height: 1.6;
  margin-bottom: 1.8em;
  max-width: 100%;
  overflow: auto;
  padding: 2.5em;
  color: #444;
  margin-top: .5em;
  width: 100%; }

.wp-block-separator {
  background: none;
  border-bottom-color: #2a2a2a;
  max-width: 100%;
  opacity: 0.1; }
  .wp-block-separator.is-style-wide {
    margin-left: 20px;
    margin-right: 20px; }
  .wp-block-separator.is-style-dots {
    opacity: 1;
    line-height: 1.7; }
    .wp-block-separator.is-style-dots:before {
      font-size: 36px;
      font-weight: 800;
      letter-spacing: 0.55em;
      margin-left: 19px;
      padding-left: 0;
      top: calc(50% - 28px); }

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: calc(100px - 20px * 2); }

.wp-block-latest-posts.is-grid:not(.is-grid) {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 700px;
  margin-bottom: -6px;
  margin-top: 32px; }

.wp-block-latest-posts.is-grid li {
  background: #f1f1f1;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  padding: 1em 1em 1.1em; }

.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-size: 24px;
  line-height: 1.6; }

.wp-block-categories__list li {
  text-align: left; }

.wp-block-pullquote.alignleft {
  margin-right: 2em;
  margin-bottom: 2em; }

.wp-block-pullquote.alignrgight {
  margin-left: 2em; }

.edit-post-layout__content .components-editor-notices__snackbar {
  bottom: auto;
  top: 100px; }

.components-panel__body .components-color-palette__item-wrapper {
  height: 26px;
  width: 26px;
  margin-right: 6px;
  margin-bottom: 8px; }

.components-panel__body .components-color-palette__item:focus:after {
  width: 30px !important;
  height: 30px !important;
  top: -2px !important;
  left: -2px !important; }

.components-panel__body .components-color-palette__item.is-active + .dashicons-saved {
  left: 2px;
  top: 3px;
  width: 20px;
  height: 20px; }
