/*=============================================>>>>>
= Customizer General Styles =
===============================================>>>>>*/
@import 'customizer-sass/vars';
.customize-control:not(:last-child):not(.menu-item) {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.customize-control-notice {
  margin-top: 15px;
  .customize-control-title {
    font-size: 16px;
    font-weight: 300;

  }
}
.customize-control-title,
.customize-control-description {
	margin-bottom: .5em;
}

#available-widgets-list [class*=widget_working_hours] .widget-title:before{
    content: "\f469"; /* <-- replace this value */
}
#available-widgets-list [class*=kioken_posts_widget] .widget-title:before{
    content: "\f123"; /* <-- replace this value */
}

#customize-controls .thumbnail-image img {
    max-height: 175px;
    border-radius: 4px;
}
.preview-mobile .wp-full-overlay-main {
  width: 375px;
  height: 600px;
}

ul.kiotheme-multicheck-sortable-list .kiotheme-multicheck-sortable-handle {
	float: right;
	cursor: move;
}
ul.kiotheme-multicheck-sortable-list li{
	padding: 7px;
	border: 1px solid #e5e5e5;
	background: #fafafa;
}
.kiotheme-hideme{
	display: none !important;
}

.customize-control {
	.attachment-media-view .button-add-media {
		background: #ffffff;
		border: none !important;
		border-radius: 4px;
		box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
	}
}

div.customize-section-description {
    margin: 0;
    background: white;
    margin-left: -12px;
    margin-right: -12px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.ss-main .ss-multi-selected .ss-values .ss-value {
    background-color: $brand_color !important;
}
#customize-theme-controls .customize-pane-child.accordion-section-content {
    height: 100%;
}

@import 'customizer-sass/radio-button',
        'customizer-sass/radio-button-control',
		'customizer-sass/font-control',
		'customizer-sass/responsive-range',
        'customizer-sass/range',
		'customizer-sass/header-controls',
		'customizer-sass/section-logo',
		'customizer-sass/section-headings',
		'customizer-sass/control-helper',
		'customizer-sass/notice',
		'customizer-sass/radio-button',
		'customizer-sass/css-toggle';