.customize-control-kiokentheme-sortable ul li {
	padding: 8px 10px; line-height: 20px; border-radius: 4px; transform:none;
	will-change: transform, opacity;
	transition: opacity .3s ease-in-out, transform .3s ease-in-out;
	border:none; box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1); background: #fff; }
.customize-control-kiokentheme-sortable ul li .dashicons.dashicons-menu { float: right; }
.customize-control-kiokentheme-sortable ul li .dashicons.visibility { color: #49aed8; margin-right: 10px; }
.customize-control-kiokentheme-sortable ul li.invisible { color: #aaa; box-shadow: none; transform: perspective(1000px) translateZ(-25px) }
.customize-control-kiokentheme-sortable ul li.invisible .dashicons.visibility { color: #aaa; }