#setting-error--gutenbooster-msg {
  padding: 10px 20px;
  padding-left: 125px;
  background-color: #f3f2f8;
  border: 10px solid white;
  background-image: url("../img/gb-logo-color.svg");
  background-size: 65px 61px;
  background-repeat: no-repeat;
  background-position: 30px 30px; }
  #setting-error--gutenbooster-msg > p:first-child {
    margin: 0; }
    #setting-error--gutenbooster-msg > p:first-child span:first-child {
      margin-top: 0 !important; }
  #setting-error--gutenbooster-msg a.button {
    margin-top: 15px;
    margin-right: 10px;
    background: white; }
  #setting-error--gutenbooster-msg .dismiss-notice {
    margin-top: 15px;
    margin-left: 10px;
    line-height: 28px;
    display: inline-block; }
  #setting-error--gutenbooster-msg p.intro {
    margin-bottom: 15px; }
    #setting-error--gutenbooster-msg p.intro strong {
      font-weight: normal !important; }

@media only screen and (min-width: 769px) {
  #TB_window, #TB_iframeContent {
    min-width: 785px !important; } }
