/*
==============

 HEADER

==============
*/
.home .wp-block-video {
		margin-top: -100px;
		background: #000000;
		box-shadow: 0px 0px 50px 50px #000000;
}
#masthead {
		top: 0px;
		position: fixed;
		background: linear-gradient(to top, transparent, #000000);
}
.home #masthead {
		top: calc(100vh - 180px);
		transition: background 500ms;
		background: linear-gradient(to bottom, transparent, #000000);
		position: absolute;
}
#masthead .inner-wrap.container {
		position: relative;
}
#masthead .inner-wrap.container .header-search {
		opacity: 0;
		bottom: auto;
		top: 120px;
		right: 10px;
		left: auto;
		padding: 10px 40px 10px 20px;
		height: 50px;
		width: 200px !important;
		border-radius: 20px;
		transform: none;
}
#masthead .inner-wrap.container .header-search.inview {
		opacity: 1;
}

#masthead .header-search .search-field {
		padding: 0px;
}
#masthead .header-search a.close-form {
		top: 8px;
		right: 12px;
}
#masthead.catchSticky {
		background: linear-gradient(to top, transparent, #000000);
}
#masthead .logo img {
		max-height: 100px;
}
#masthead .logo img:hover {
		transform: scale(1.1);
}
#masthead .nav-menu a:hover,
#masthead .utils ul li a:hover {
		color: #ff0000;
}
#masthead .nav-menu a:after {
		background-color: #ff0000 !important;
}


/*
==============

 GENERAL

==============
*/


/*add padding to some pages*/
.search-no-results,
.product-template-default,
.archive {
		padding-top: 200px;
}

#content {
		position: relative;
		margin-top: -32px;
		overflow: hidden;
}
h1,
.woocommerce-products-header p,
.has-gb-customten-color {
		color: #ff0000;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		font-size: 3rem;
		font-weight: 500;
}
h1:after,
.woocommerce-products-header p:after {
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, transparent, #000000);
		position: absolute;
		bottom: 0px;
		left: 0px;
		z-index: 1;
}

.text-image img,
.vsel-content .vsel-image,
.vsel-meta-image {
		border-radius: 20px;
		box-shadow: 0px 0px 20px 0px #343434;
		border: double 5px #343434;
		transform: rotate(10deg);
}
.vsel-meta-image {
		transform: none;
}
.text-image.even img {
		transform: rotate(-10deg);
}

/*links*/
a,
.single .post-navigation .nav-links a[rel="prev"],
.single .post-navigation .nav-links a[rel="next"]  {
		color: #ff0000;
}
a:hover,
.single .post-navigation .nav-links a[rel="prev"]:hover,
.single .post-navigation .nav-links a[rel="next"]:hover {
		color: #ffffff;
}

/* buttons */
.k-btn.btn__primary {
		background: #ff0000;
		border: none;
		border-radius: 20px;
}
.k-btn.btn__primary span {
		border: none;
}
.k-btn.btn__primary:before {
		display: none;
}
.k-btn.btn__primary:hover {
		background: #ffffff;
		color: #ff0000;
}


/*
==============

 EVENTS

==============
*/
/* events header*/
.events-main-header {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 100vh;
}
.events-main-header video {
		width: 100%;
}
.events-main-header img {
		position: absolute;
		background: rgba(0,0,0,0.7);
		box-shadow: 0px 0px 100px 100px rgba(0,0,0,0.7);
		margin-top: 30px;
}

/* carousel */
#events-carousel .event-element {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: inset 0px 0px 10px 20px #000000;
		transition: all 500ms;
}
#events-carousel .event-element a {
		display: block;
		height: 400px;
}
#events-carousel .event-element .event-carousel-title {
		padding: 20px 0px 0px 20px;
		display: inline-block;
		background: rgba(0,0,0,0.7);
		box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.7);
		transition: all 500ms;
}

#events-carousel .event-element:hover {
		box-shadow: none;
}
#events-carousel .event-element:hover .event-carousel-title {
		color: #ffffff;
}

/* events main list */
.events-main-list {
		display: block !important;
}
.events-main-list .events-list {
		margin: 0px !important;
		display: none;
}
.events-main-list .events-list.active {
		display: block;
}
.events-custom-controller {
		position: absolute !important;
}
.events-btn {
		display: inline-block;
		padding: 10px 50px;
		background: #ff0000;
		color: #ffffff;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 500ms;
		box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.8);
}
.events-btn:hover {
		box-shadow: none;
}
.events-btn.active {
		background: #ffffff;
		color: #ff0000;
		box-shadow: none;
		cursor: auto;
		pointer-events: none;
}
.events-btn.soon-events {
		float: left;
		border-radius: 0px 20px 20px 0px;
}
.events-btn.passed-events {
		float: right;
		border-radius: 20px 0px 0px 20px;
}

.mep_event_list_item {
		border: none !important;
		border-bottom: 2px solid #ffffff !important;
}
.mep_list_event_details p {
		color: #ffffff;
		white-space: normal !important;
		padding: 20px 0px 0px 20px !important;
}
.mep_list_event_details h6,
.mep_list_event_details .amount {
		color: #ffffff !important;
}
.mep-event-excerpt {
		display: none !important;
}


/* single event */
.mep-events-wrapper {
		margin-top: 0px !important;
		padding-top: 0px !important;
}
.mep-events-wrapper,
.mep_related_product_area,
.bristol_divided,
.bristol_center_box {
		background: transparent !important;
		color: #ffffff !important;
}
.mep-events-wrapper .mep-event-thumbnail img {
		border-radius: 0px 0px 20px 20px;
}
.mep-default-theme.bristol h1 {
		text-transform: uppercase;
		text-align: center;
		margin: 50px 0px;
}
.mep-default-feature-content p {
	color: #ffffff !important;
}

/*
==============

 CONTACTS

==============
*/

.address-map iframe {
		width: 100%;
}
.contact-info .general-info {
		border-right: 2px solid #ff0000;
}
.contact-info .general-info .wp-block-column {
    margin-left: 10px;
}


/*
==============

 GALLERY

==============
*/
.aigpl-img-wrp {
		border: none !important;
		padding: 0px !important;
}
.aigpl-gallery-wrp .aigpl-img,
.aigpl-gallery-album-wrp .aigpl-img {
		border-radius: 20px;
}
.aigpl-gallery-wrp .aigpl-img {
		border: 5px double #fff !important;
}
.aigpl-gallery-wrp .aigpl-inr-wrp,
.aigpl-gallery-album-wrp .aigpl-img-wrp{
		transition: all 500ms;
}
.aigpl-gallery-album-wrp .aigpl-img-wrp:hover,
.aigpl-gallery-wrp .aigpl-inr-wrp:hover{
		transform: scale(0.9) rotate(5deg);
}
.aigpl-gallery-album-wrp .aigpl-img-wrp::after  {
		border-radius: 25px;
		right: 0px !important;
		top: 0px !important;
		bottom: -6px !important;
		left: -7px !important;
}



/*
==============

 SHOP

==============
*/
/* aside menu styes */
#secondary {
		border-top: 5px double #ffffff;
		background: linear-gradient(to bottom, #1c1c1c, #000000);
}
#woocommerce_product_categories-2,
#woocommerce_widget_cart-4 {
		margin: 0px;
}
/*categories-card separator*/
#woocommerce_product_categories-2:after {
		content: '';
		width: calc(100% + 45px);
		height: 20px;
		display: block;
		background: linear-gradient(to bottom, #000000, transparent);
		margin-left: -22px;
}
.post-type-archive .show-all-products a {
		color: #ffffff;
}
.tax-product_cat .show-all-products a {
		color: #ff0000;
}

#secondary .children .cat-item {
		list-style-type: none;
}
#secondary .cat-item .count {
		font-size: 12px;
		display: none;
}
#secondary .children .cat-item .count {
		display: inline-block;
}
/*categories decoration*/
#woocommerce_product_categories-2 .current-cat > a {
		color: #ffffff;
}
#woocommerce_product_categories-2 .widget-title,
#woocommerce_widget_cart-4 .widget-title{
		color: #ffffff;
		text-transform: uppercase;
}

/*side menu cart styles*/
#secondary .widget_shopping_cart_content .checkout {
		float: right;
		margin-right: 0px !important;
}
#woocommerce_widget_cart-4 .event-custom-price {
		display: none;
}
#woocommerce_widget_cart-4 .quantity {
		display: block;
}

/* general list of products*/

.woocommerce-ordering .orderby,
.woocommerce-ordering .orderby option {
		cursor: pointer;
}
.woocommerce .increase,
.woocommerce .decrease {
		cursor: pointer !important;
		transition: all 500ms;
}
.woocommerce .increase:hover,
.woocommerce .decrease:hover {
		color: #ff0000 !important;
}
/* hide product category from list of products */
.woocommerce .product-category {
		display: none;
}

/* sorting and pagination */
.woocommerce-ordering .orderby option{
		background: #fff;
}

/* images and text */
.woocommerce ul.products li.product {
		margin: 0px !important;
		width: 33.33% !important;
		transition: all 500ms;
}
.woocommerce ul.products li.product a img {
    position: relative;
}
.woocommerce ul.products li.product a:hover img {
		transition: all 500ms;
    transform: scale(1.05);
		z-index: 1;
}
.woocommerce ul.products .add_to_cart_button {
		display: none;
}

.woocommerce span.onsale {
		background-color: #ff0000 !important;
		box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.8);
		transition: all 500ms;
}
.woocommerce ul.products li.product a:hover span.onsale {
		box-shadow: none;
}

.woocommerce-tabs a {
		color: #ff0000 !important;
}
.woocommerce-tabs .additional_information_tab {
	opacity: 0.5;
}

/* prices */
.woocommerce ul.products li.product .price,
mark, ins,
del .woocommerce-Price-amount.amount,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: #ffffff !important;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
		border-radius: 100px !important;
		background-color: #fff !important;
		color: #ff0000 !important;
		transition: all 500ms;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
		color: #ffffff !important;
		background-color: #ff0000 !important;
}

.woocommerce-info {
		border-top-color: #ff0000 !important;
}
.woocommerce-info::before {
		color: #ff0000 !important;
}


/* single product */
.product-intro .single_add_to_cart_button {
		margin-top: 12px !important;
}



/*
==============

 FOOTER

==============
*/

.site-footer{
		box-shadow: 0px 20px 50px 50px #000;
		margin-top: -10px;
}

/*
==============

 ERROR 404 PAGE

==============
*/
.error404 .search-form,
.error404 h1:after{
		display: none;
}
.error404 #page-banner-wrap .banner-heading-wrap input {
		color: #000000;
}
.error404 .banner-heading-wrap {
		margin-top: 0px !important;
}



/*
	===============================================
  ===============================================

    RESPONSIVE

  ===============================================
	===============================================
*/
@media only screen and (max-width: 1280px) {
		.menu-item-divider {
				display: none !important;
		}
}

@media only screen and (max-width: 768px) {

}
