/*-------------------------------------------------------------------------*/
/*	Transitions and Transforms
/*-------------------------------------------------------------------------*/
/*=============================================>>>>>
= Colors =
===============================================>>>>>*/
.woocommerce-page:not(.hfeed) .k-content-inner {
  padding-top: 3em;
  margin-bottom: 3em; }
  @media only screen and (max-width: 1168px) {
    .woocommerce-page:not(.hfeed) .k-content-inner {
      padding-top: 1em; } }

.woocommerce-cart .woocommerce,
.woocommerce-account .woocommerce,
.woocommerce-checkout .woocommerce {
  max-width: 1200px !important; }

.woocommerce ins {
  text-decoration: none; }

.woocommerce span.onsale {
  padding: 0;
  padding-right: 1em;
  padding-left: 1em;
  text-transform: uppercase;
  background-color: #4138D4;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  border-radius: 0; }

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  -ms-flex: auto;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
          flex: auto;
  max-width: none; }

/* Products List */
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  margin-bottom: 2.5em; }

.woocommerce ul.products li {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  .woocommerce ul.products li.product a.woocommerce-loop-product__link {
    overflow: hidden;
    display: block;
    margin-bottom: .75em; }
    .woocommerce ul.products li.product a.woocommerce-loop-product__link img {
      margin: 0;
      -o-transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
      -webkit-transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: -webkit-transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1); }
    .woocommerce ul.products li.product a.woocommerce-loop-product__link:hover img {
      -webkit-transform: scale3d(1.001, 1.001, 1);
      transform: scale3d(1.001, 1.001, 1); }
  .woocommerce ul.products li.product .woocommerce-loop-category__title,
  .woocommerce ul.products li.product .woocommerce-loop-product__title,
  .woocommerce ul.products li.product h3 {
    font-size: 1.15em;
    line-height: 1.45em;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
  .woocommerce ul.products li.product .price {
    color: #4138D4;
    font-size: 1em; }
    .woocommerce ul.products li.product .price ins {
      font-weight: 600; }
    .woocommerce ul.products li.product .price del {
      margin-right: 10px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%); }
  .woocommerce ul.products li.product .wrapper {
    padding-right: 50px; }
  .woocommerce ul.products li.product .button {
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0px;
    width: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 100px;
    font-family: Arial, HelveticaNeue, Helvetica, sans-serif;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 10px;
    background-color: transparent;
    color: #1f213a; }
    .woocommerce ul.products li.product .button.loading {
      opacity: .5; }
      .woocommerce ul.products li.product .button.loading::after {
        top: 0;
        right: 11px; }
      .woocommerce ul.products li.product .button.loading .feather {
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0; }
    .woocommerce ul.products li.product .button:hover {
      color: white;
      background-color: #1f213a; }
    .woocommerce ul.products li.product .button.added .feather {
      display: none; }
    .woocommerce ul.products li.product .button.added::after {
      margin-left: 0; }
  .woocommerce ul.products li.product .added_to_cart {
    display: none; }
  .woocommerce ul.products li.product .onsale {
    margin: 0; }

select.orderby {
  position: relative;
  top: -8px;
  font-size: 16px; }

/* Product Categories */
.woocommerce-loop-category__title {
  text-align: center;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1em !important; }
  .woocommerce-loop-category__title .count {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 600px) {
  .woocommerce .woocommerce-result-count,
  .woocommerce .woocommerce-ordering {
    float: none;
    text-align: center; }
  .woocommerce .woocommerce-ordering select {
    width: 100%; } }

/*General Inputs - Mainly Applies to Checkout Form*/
.woocommerce input[type="text"], .woocommerce input[type="password"], .woocommerce input[type="email"], .woocommerce input[type="search"], .woocommerce input[type="tel"],
.woocommerce input[type="date"], .woocommerce input[type="time"], .woocommerce input[type="datetime-local"], .woocommerce input[type="month"] {
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  background: white;
  -o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px; }
  .woocommerce input[type="text"]:focus, .woocommerce input[type="password"]:focus, .woocommerce input[type="email"]:focus, .woocommerce input[type="search"]:focus, .woocommerce input[type="tel"]:focus,
  .woocommerce input[type="date"]:focus, .woocommerce input[type="time"]:focus, .woocommerce input[type="datetime-local"]:focus, .woocommerce input[type="month"]:focus {
    outline: 0;
    border-bottom-color: #555;
    background: white; }

.woocommerce form .form-row {
  margin-bottom: 1.5em; }
  .woocommerce form .form-row input[type="text"], .woocommerce form .form-row input[type="password"], .woocommerce form .form-row input[type="email"], .woocommerce form .form-row input[type="search"], .woocommerce form .form-row input[type="tel"] {
    padding-left: 0px; }
  .woocommerce form .form-row .select2-selection[role="combobox"] {
    padding: 6px;
    height: 40px;
    border-color: #e7e7e7; }
    .woocommerce form .form-row .select2-selection[role="combobox"] .select2-selection__arrow {
      height: 30px;
      margin: 5px; }

.woocommerce .widget_product_search button {
  display: none; }

.woocommerce .widget_product_search input {
  margin: 0;
  width: 100%; }

.woocommerce form.cart, p.cart {
  margin-bottom: 60px; }
  .woocommerce form.cart .button, p.cart .button {
    min-width: 220px;
    vertical-align: top; }
    .woocommerce form.cart .button .shopping-cart-icon, p.cart .button .shopping-cart-icon {
      margin-right: 15px; }
    .woocommerce form.cart .button .icon-dark, p.cart .button .icon-dark {
      display: none; }

.woocommerce form.cart .variations {
  margin: 0 0 40px 0; }
  .woocommerce form.cart .variations .variable {
    padding-right: 2em;
    margin: 0 -4px 20px 0;
    vertical-align: top; }
  .woocommerce form.cart .variations .variable-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #e4e6eb; }
    .woocommerce form.cart .variations .variable-options:after {
      bottom: -2px; }
  .woocommerce form.cart .variations .label,
  .woocommerce form.cart .variations .value {
    display: inline-block;
    padding: 0;
    position: relative;
    z-index: 1; }
  .woocommerce form.cart .variations .label {
    text-align: left;
    padding-top: 5px; }
  .woocommerce form.cart .variations .value {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .woocommerce form.cart .variations .arrow {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    right: 0; }
  .woocommerce form.cart .variations label {
    color: #1f213a;
    font-weight: 600 !important; }
  .woocommerce form.cart .variations select {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    padding: 0 15px;
    padding-bottom: 4px;
    margin-right: 0;
    border: 0;
    width: 100%;
    color: #1f213a;
    text-align: center;
    -moz-text-align-last: center;
         text-align-last: center;
    background: transparent; }

.woocommerce form.cart .woocommerce-variation {
  margin-bottom: 30px; }

.woocommerce form.cart .button {
  float: none; }
  .woocommerce form.cart .button.loading:after {
    right: auto;
    left: 53px;
    top: 0; }
  .woocommerce form.cart .button.loading svg {
    opacity: 0; }

.woocommerce form.cart.swatches-support .wide-variable {
  width: 100%; }
  .woocommerce form.cart.swatches-support .wide-variable.type-select {
    width: auto;
    min-width: 50%;
    max-width: 100%; }

.woocommerce form.cart.swatches-support .variable-options {
  display: block;
  border-bottom-width: 0; }
  .woocommerce form.cart.swatches-support .variable-options:after {
    display: none; }
  .woocommerce form.cart.swatches-support .variable-options .label {
    display: block;
    text-align: center;
    margin-bottom: 15px; }
  .woocommerce form.cart.swatches-support .variable-options .arrow {
    display: none; }

.woocommerce form.cart.swatches-support .type-select .variable-options {
  border-bottom-width: 2px; }
  .woocommerce form.cart.swatches-support .type-select .variable-options:after {
    display: block; }
  .woocommerce form.cart.swatches-support .type-select .variable-options .arrow {
    display: inline-block; }

.woocommerce form.cart.swatches-support .tawcvs-swatches {
  padding: 0;
  min-height: 42px;
  overflow: visible; }

.woocommerce form.cart.swatches-support .swatch {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 16px;
  height: 16px;
  margin: 12px 15px;
  opacity: 1;
  border: 0; }
  .woocommerce form.cart.swatches-support .swatch:before {
    display: none; }
  .woocommerce form.cart.swatches-support .swatch:after {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s; }

.woocommerce form.cart.swatches-support .swatch-label {
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  border-width: 0;
  background-color: transparent; }
  .woocommerce form.cart.swatches-support .swatch-label:after {
    left: -12px; }

.woocommerce form.cart.swatches-support .swatch-image {
  width: 40px;
  height: 40px;
  padding: 2px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid transparent; }
  .woocommerce form.cart.swatches-support .swatch-image:after {
    display: none; }
  .woocommerce form.cart.swatches-support .swatch-image img {
    border-radius: 50%;
    display: block; }

.woocommerce form.cart .group_table {
  border-bottom: 0; }
  .woocommerce form.cart .group_table tr {
    border-bottom: 0;
    width: 100%;
    float: none; }
  .woocommerce form.cart .group_table td {
    vertical-align: middle; }
  .woocommerce form.cart .group_table td.label {
    display: table-cell;
    line-height: 2;
    white-space: normal; }

.woocommerce .quantity {
  width: 160px;
  height: 55px;
  background: white;
  margin-right: 10px !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #e7e7e7; }
  .woocommerce .quantity:hover {
    border-color: #666; }
  .woocommerce .quantity .increase,
  .woocommerce .quantity .decrease {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 0; }
  .woocommerce .quantity .qty {
    -moz-appearance: textfield;
    border-width: 0;
    width: 50px !important;
    font-size: 19.2px;
    font-size: 1.2rem;
    color: #333; }
    .woocommerce .quantity .qty::-webkit-outer-spin-button, .woocommerce .quantity .qty::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    .woocommerce .quantity .qty:focus {
      outline: none; }

/*= Checkboxes & Radios =*/
/*=============================================<<<<<*/
/* Chrome autofill stuff */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset; }

.woocommerce label.checkbox,
.woocommerce input[type=radio] + label,
.woocommerce input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
  padding-left: 44px; }
  .woocommerce label.checkbox:before,
  .woocommerce input[type=radio] + label:before,
  .woocommerce input[type=checkbox] + label:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: -2px;
    border: 1px solid #e4e6eb;
    background-color: #e4e6eb;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 100px; }
  .woocommerce label.checkbox:after,
  .woocommerce input[type=radio] + label:after,
  .woocommerce input[type=checkbox] + label:after {
    content: '';
    position: absolute;
    border-left: 2px solid #e4e6eb;
    border-bottom: 2px solid #e4e6eb;
    width: 12px;
    height: 6px;
    left: 6px;
    top: 6px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border-top-color: transparent;
    border-right-color: transparent;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.woocommerce input:checked + label:before {
  border-color: transparent;
  background-color: #222; }

.woocommerce input:checked + label:after {
  border-color: white; }

.woocommerce label.woocommerce-form__label-for-checkbox {
  padding-left: 0; }
  .woocommerce label.woocommerce-form__label-for-checkbox:before, .woocommerce label.woocommerce-form__label-for-checkbox:after {
    display: none; }
  .woocommerce label.woocommerce-form__label-for-checkbox > span:first-of-type {
    line-height: 1.6;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    display: inline-block; }
    .woocommerce label.woocommerce-form__label-for-checkbox > span:first-of-type:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      border: 1px solid lightgray;
      background-color: white;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      border-radius: 100px; }
    .woocommerce label.woocommerce-form__label-for-checkbox > span:first-of-type:after {
      content: '';
      position: absolute;
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
      width: 12px;
      height: 6px;
      left: 6px;
      top: 7px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      border-top-color: transparent;
      border-right-color: transparent;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
  .woocommerce label.woocommerce-form__label-for-checkbox input:checked + span:before {
    border-color: #333;
    background-color: white; }
  .woocommerce label.woocommerce-form__label-for-checkbox input:checked + span:after {
    border-color: #333; }

.woocommerce form input[type="radio"],
.woocommerce form input[type="checkbox"] {
  display: none; }

.woocommerce form.login,
.woocommerce form.register,
.woocommerce form.edit-account {
  border-radius: 0;
  border: 0;
  padding: 0;
  margin: 0 auto;
  width: 400px;
  max-width: 100%; }
  .woocommerce form.login .form-row,
  .woocommerce form.register .form-row,
  .woocommerce form.edit-account .form-row {
    margin-bottom: 1em; }
    .woocommerce form.login .form-row.active label,
    .woocommerce form.register .form-row.active label,
    .woocommerce form.edit-account .form-row.active label {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: .5; }
  .woocommerce form.login input.input-text,
  .woocommerce form.register input.input-text,
  .woocommerce form.edit-account input.input-text {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    padding: 12px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .woocommerce form.login input.input-text:focus,
    .woocommerce form.register input.input-text:focus,
    .woocommerce form.edit-account input.input-text:focus {
      border-bottom-color: #666975; }
  .woocommerce form.login label,
  .woocommerce form.register label,
  .woocommerce form.edit-account label {
    color: #666975;
    margin: 0;
    padding-left: 12px;
    display: block;
    cursor: text;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(37px);
        -ms-transform: translateY(37px);
            transform: translateY(37px); }
    .woocommerce form.login label.inline,
    .woocommerce form.register label.inline,
    .woocommerce form.edit-account label.inline {
      cursor: pointer;
      line-height: 1.7; }
  .woocommerce form.login button.button,
  .woocommerce form.login input.button,
  .woocommerce form.register button.button,
  .woocommerce form.register input.button,
  .woocommerce form.edit-account button.button,
  .woocommerce form.edit-account input.button {
    display: block;
    width: 100%; }

.woocommerce form.login label:before, .woocommerce form.login label:after {
  display: none; }

.woocommerce form.login .lost_password {
  text-align: center;
  margin-top: 30px; }
  .woocommerce form.login .lost_password a {
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #4138D4; }
    .woocommerce form.login .lost_password a:hover {
      border-color: #333; }

.woocommerce form.login button.button .button-text {
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.woocommerce form.login button.button.loading {
  padding-right: 0; }
  .woocommerce form.login button.button.loading:after {
    display: none; }
  .woocommerce form.login button.button.loading .button-text {
    opacity: 0; }
  .woocommerce form.login button.button.loading .loading-icon {
    opacity: 1; }

.woocommerce form.register .form-row:last-child {
  margin-top: 40px; }

.woocommerce form.lost_reset_password label {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(37px);
      -ms-transform: translateY(37px);
          transform: translateY(37px); }

.woocommerce form.lost_reset_password .active label {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

.woocommerce-lost-password .woocommerce {
  width: 375px;
  max-width: 320px;
  margin: 0 auto; }
  .woocommerce-lost-password .woocommerce .form-row {
    width: 100%; }

.woocommerce-privacy-policy-text {
  font-size: .9rem;
  line-height: 1.6em;
  opacity: .75; }

.woocommerce .required {
  display: inline-block;
  position: relative;
  text-indent: -9999px; }
  .woocommerce .required::before {
    content: '';
    display: block;
    position: absolute;
    top: .5em;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 200px;
    background-color: #cb1e26; }

.woocommerce form .form-row .select2-selection[role="combobox"] {
  border-color: #ddd;
  border-top-color: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 0; }

.woocommerce form .form-row .select2-container--open .select2-selection[role="combobox"] {
  border: 1px solid #aaa; }

/* WC - Price Filter Widget */
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 1.2em;
  height: 1.2em;
  top: -.4em;
  margin-left: -.6em; }
  .woocommerce .widget_price_filter .ui-slider .ui-slider-handle:before {
    content: "";
    position: absolute;
    top: .3em;
    left: .3em;
    display: block;
    width: .6em;
    height: .6em;
    background-color: #4138D4;
    border-radius: 100px; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #4138D4; }

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #e7e7e7; }

.woocommerce .widget_price_filter .price_slider_amount .button {
  color: #4138D4;
  font-size: 1.1em;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
  padding: .618em 0em;
  line-height: 1em;
  background: none; }

.woocommerce .price_slider_wrapper {
  padding-top: .8em; }

/* WC - Product Categories Widget */
.widget_product_categories .count span {
  display: inline-block;
  float: right;
  line-height: 20px;
  padding: 2px 9px;
  text-align: center;
  font-size: .9rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  opacity: .6; }

.widget_product_categories ul li {
  list-style-type: none; }

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
  margin-bottom: .5em;
  list-style-type: none; }
  .woocommerce ul.cart_list li img,
  .woocommerce ul.product_list_widget li img {
    width: 50px;
    float: left;
    margin-right: 1em;
    margin-left: 0; }
  .woocommerce ul.cart_list li a,
  .woocommerce ul.product_list_widget li a {
    font-weight: 600; }

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
  padding: 0;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #999; }

.woocommerce a.button, .woocommerce a.button.alt, .woocommerce a.button.disabled, .woocommerce a.button.alt.disabled,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce button.button.disabled,
.woocommerce button.button.alt.disabled,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button.disabled,
.woocommerce input.button.alt.disabled {
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 0;
  background-color: #4138D4;
  color: #fff;
  padding: 0;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 55px; }
  .woocommerce a.button:hover, .woocommerce a.button:focus, .woocommerce a.button.alt:hover, .woocommerce a.button.alt:focus, .woocommerce a.button.disabled:hover, .woocommerce a.button.disabled:focus, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt.disabled:focus,
  .woocommerce button.button:hover,
  .woocommerce button.button:focus,
  .woocommerce button.button.alt:hover,
  .woocommerce button.button.alt:focus,
  .woocommerce button.button.disabled:hover,
  .woocommerce button.button.disabled:focus,
  .woocommerce button.button.alt.disabled:hover,
  .woocommerce button.button.alt.disabled:focus,
  .woocommerce input.button:hover,
  .woocommerce input.button:focus,
  .woocommerce input.button.alt:hover,
  .woocommerce input.button.alt:focus,
  .woocommerce input.button.disabled:hover,
  .woocommerce input.button.disabled:focus,
  .woocommerce input.button.alt.disabled:hover,
  .woocommerce input.button.alt.disabled:focus {
    color: #fff;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #1f213a; }

.woocommerce-message {
  border-top-color: #60af87; }
  .woocommerce-message::before {
    color: #60af87; }

.kioken-message-box,
.woocommerce-info {
  background: none; }

.kioken-message-box, .woocommerce-info {
  border: none;
  border: 1px solid #e7e7e7; }
  .kioken-message-box ul, .woocommerce-info ul {
    margin: 0; }
  .kioken-message-box.success, .woocommerce-info.success {
    border-color: #60af87;
    color: #60af87; }
    .kioken-message-box.success::before, .woocommerce-info.success::before {
      color: #60af87; }
  .kioken-message-box.danger, .woocommerce-info.danger {
    border-color: #b81c23; }
    .kioken-message-box.danger strong, .woocommerce-info.danger strong {
      color: #b81c23; }

.woocommerce-info::before {
  display: none; }

.woocommerce-info a {
  color: #4138D4; }

.woocommerce-error .box-content .button,
.woocommerce-info .box-content .button,
.woocommerce-message .box-content .button {
  color: #23232c;
  line-height: 1.7;
  padding: 0;
  min-width: 0;
  height: auto;
  background-color: transparent; }
  .woocommerce-error .box-content .button:hover,
  .woocommerce-info .box-content .button:hover,
  .woocommerce-message .box-content .button:hover {
    background: none;
    color: #4138D4; }

.woocommerce nav.woocommerce-pagination ul {
  border: none;
  border-bottom: 2px solid #f1f2f4;
  margin-bottom: 4rem; }
  .woocommerce nav.woocommerce-pagination ul li {
    padding: 20px 15px;
    border: none;
    overflow: visible; }
    .woocommerce nav.woocommerce-pagination ul li:first-child {
      padding-left: 0; }
    .woocommerce nav.woocommerce-pagination ul li:last-child {
      padding-right: 0; }
    .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
      font-size: 1.125rem;
      color: #1f213a;
      font-weight: 500;
      padding: 0;
      min-width: 12px;
      min-height: 20px;
      line-height: 20px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li span:hover, .woocommerce nav.woocommerce-pagination ul li span:focus {
        background-color: transparent; }
    .woocommerce nav.woocommerce-pagination ul li span.current {
      color: #4138D4;
      background-color: transparent;
      position: relative; }
      .woocommerce nav.woocommerce-pagination ul li span.current:after {
        position: absolute;
        content: '';
        background-color: #4138D4;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: -22px; }
    .woocommerce nav.woocommerce-pagination ul li svg {
      fill: #1f213a;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .woocommerce nav.woocommerce-pagination ul li:hover svg {
      fill: #4138D4; }
    .woocommerce nav.woocommerce-pagination ul li:hover a {
      color: #4138D4; }

.woocommerce .tabs-nav {
  font-size: 32px;
  font-size: 2rem;
  color: #4138D4;
  font-weight: 600;
  margin: 30px 0 50px;
  padding-bottom: 10px; }
  .woocommerce .tabs-nav span {
    color: #1f213a;
    margin: 0 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer; }
    .woocommerce .tabs-nav span:hover, .woocommerce .tabs-nav span.active {
      color: #4138D4; }
      .woocommerce .tabs-nav span:hover .count, .woocommerce .tabs-nav span.active .count {
        color: #fff;
        background-color: #4138D4; }
  .woocommerce .tabs-nav .count {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #1f213a;
    text-align: center;
    line-height: 20px;
    margin: -4px 0 0 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #e4e6eb; }
    .woocommerce .tabs-nav .count:hover {
      color: #fff; }

.woocommerce .tab-panels {
  position: relative; }

.woocommerce .tab-panel.col-1,
.woocommerce .tab-panel.col-2 {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  float: none;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px); }
  .woocommerce .tab-panel.col-1.active,
  .woocommerce .tab-panel.col-2.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    z-index: 1;
    opacity: 1;
    position: relative; }

.woocommerce-account .woocommerce {
  max-width: 1200px;
  margin: 0 auto; }

.woocommerce-account .woocommerce-MyAccount-navigation {
  border-right: 1px solid #e7e7e7;
  width: 16.6667%; }
  .woocommerce-account .woocommerce-MyAccount-navigation ul {
    list-style-type: none; }
    .woocommerce-account .woocommerce-MyAccount-navigation ul li {
      margin-bottom: 1em; }
      .woocommerce-account .woocommerce-MyAccount-navigation ul li a {
        opacity: .6; }
      .woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover, .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a {
        opacity: 1; }
      .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a {
        font-weight: 600; }

.woocommerce-account .woocommerce-MyAccount-content {
  width: 83.3333%;
  padding-left: 60px; }
  .woocommerce-account .woocommerce-MyAccount-content h2, .woocommerce-account .woocommerce-MyAccount-content h3 {
    margin-bottom: 1em;
    text-transform: capitalize; }
  .woocommerce-account .woocommerce-MyAccount-content .hello-customer strong, .woocommerce-account .woocommerce-MyAccount-content .hello-customer .not-admin {
    text-transform: capitalize; }
  .woocommerce-account .woocommerce-MyAccount-content p a:not(.button) {
    font-weight: bold; }
  .woocommerce-account .woocommerce-MyAccount-content table.my_account_orders {
    font-size: .95em; }
  .woocommerce-account .woocommerce-MyAccount-content .woocommerce-order-details {
    margin-top: 2em; }
  .woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address .edit-button {
    margin-top: 1em; }
  .woocommerce-account .woocommerce-MyAccount-content .button {
    line-height: 40px;
    font-size: 15px; }
  .woocommerce-account .woocommerce-MyAccount-content address {
    border: none;
    background: rgba(0, 0, 0, 0.03);
    padding: 2em; }

.woocommerce form.edit-account {
  width: 100%;
  margin: 0; }
  .woocommerce form.edit-account em {
    opacity: .6;
    margin-top: .5em;
    display: inline-block; }

.woocommerce-account .kk-account-details,
.woocommerce-account fieldset {
  border: 1px solid #e7e7e7;
  padding: 2em;
  margin-bottom: 3em; }

.woocommerce-account fieldset legend {
  display: none; }

@media only screen and (max-width: 1168px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 100%;
    border-right: none;
    overflow-y: scroll;
    float: none;
    max-height: 50px;
    white-space: nowrap;
    margin-bottom: 1em;
    padding: 1em; }
    .woocommerce-account .woocommerce-MyAccount-navigation ul li {
      display: inline-block;
      margin-right: 1em; }
  .woocommerce-account .woocommerce-MyAccount-content {
    width: 100%;
    margin-left: 0;
    padding-left: 0; } }

.woocommerce table.shop_table {
  border: 0; }
  .woocommerce table.shop_table th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: .85rem; }
  .woocommerce table.shop_table td {
    padding: 20px 12px; }
    .woocommerce table.shop_table td.product-subtotal {
      color: #1f213a;
      font-weight: 500; }

.woocommerce a.remove {
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #999 !important;
  font-weight: 100;
  font-size: 32px;
  line-height: .938em; }
  .woocommerce a.remove:hover {
    background-color: #4138D4; }

/*=============================================>>>>>
= Cart Image =
===============================================>>>>>*/
#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 80px; }

body.woocommerce-cart.woocommerce-page td.actions .input-text#coupon_code {
  min-width: 220px;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  margin-right: 2em;
  height: 55px;
  padding-left: 1rem; }
  body.woocommerce-cart.woocommerce-page td.actions .input-text#coupon_code:focus {
    border-bottom-color: #333; }

body.woocommerce-cart.woocommerce-page .shipping-calculator-button::after {
  display: none; }

body.woocommerce-cart.woocommerce-page h2 {
  margin-bottom: 1em; }

body.woocommerce-cart.woocommerce-page .cart_totals tr th, body.woocommerce-cart.woocommerce-page .cart_totals tr td {
  padding-top: 1.5em; }

@media only screen and (min-width: 1168px) {
  .woocommerce-checkout h1 {
    text-align: center;
    margin-bottom: 1em; }
  .woocommerce-checkout .woocommerce {
    max-width: 1200px;
    margin: 0 auto; }
  .woocommerce-checkout .woocommerce-login-form,
  .woocommerce-checkout .woocommerce-coupon-form {
    float: left;
    margin-bottom: 30px; }
  .woocommerce-checkout .woocommerce-login-form {
    width: 50%;
    padding-right: 15px; }
    .woocommerce-checkout .woocommerce-login-form form.login {
      width: 100%;
      margin-top: 30px; }
    .woocommerce-checkout .woocommerce-login-form .button {
      margin-top: 30px; }
  .woocommerce-checkout .woocommerce-coupon-form {
    width: 100%; }
    .woocommerce-checkout .woocommerce-coupon-form form.checkout_coupon {
      border: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .woocommerce-checkout .woocommerce-coupon-form form.checkout_coupon .form-row-first {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding-right: 10px; }
  .woocommerce-checkout .woocommerce-login-form + .woocommerce-coupon-form {
    width: 50%;
    padding-left: 15px; }
  .woocommerce-checkout .woocommerce-info {
    text-align: center;
    padding: 25px 0; }
  .woocommerce-checkout form.checkout {
    width: 100%;
    clear: both; }
    .woocommerce-checkout form.checkout .form-row input[type="text"], .woocommerce-checkout form.checkout .form-row input[type="password"],
    .woocommerce-checkout form.checkout .form-row input[type="email"], .woocommerce-checkout form.checkout .form-row input[type="search"],
    .woocommerce-checkout form.checkout .form-row input[type="tel"] {
      padding-left: 10px; }
    .woocommerce-checkout form.checkout label.checkbox:before, .woocommerce-checkout form.checkout input[type=radio] + label:before,
    .woocommerce-checkout form.checkout input[type=checkbox] + label:before {
      top: 0; }
    .woocommerce-checkout form.checkout label.checkbox:after, .woocommerce-checkout form.checkout input[type=radio] + label:after,
    .woocommerce-checkout form.checkout input[type=checkbox] + label:after {
      top: 8px; }
    .woocommerce-checkout form.checkout h3 {
      padding-bottom: 1em; }
    .woocommerce-checkout form.checkout .woocommerce-billing-fields h3 {
      display: none; }
    .woocommerce-checkout form.checkout .col2-set,
    .woocommerce-checkout form.checkout .woocommerce-checkout-review-order {
      border: 1px solid #e7e7e7;
      padding: 40px 2em 2em 2em;
      margin-bottom: 30px; }
    .woocommerce-checkout form.checkout .woocommerce-checkout-review-order {
      padding-top: 20px; }
      .woocommerce-checkout form.checkout .woocommerce-checkout-review-order .product-quantity span {
        font-weight: 500;
        color: #1f213a; }
    .woocommerce-checkout form.checkout .form-row {
      overflow: hidden;
      padding-left: 230px; }
    .woocommerce-checkout form.checkout .col-1,
    .woocommerce-checkout form.checkout .col-2 {
      width: 100%; }
      .woocommerce-checkout form.checkout .col-1:before, .woocommerce-checkout form.checkout .col-1:after,
      .woocommerce-checkout form.checkout .col-2:before,
      .woocommerce-checkout form.checkout .col-2:after {
        content: "";
        display: table;
        table-layout: fixed; }
      .woocommerce-checkout form.checkout .col-1:after,
      .woocommerce-checkout form.checkout .col-2:after {
        clear: both; }
      .woocommerce-checkout form.checkout .col-1 label,
      .woocommerce-checkout form.checkout .col-2 label {
        margin-left: -230px;
        float: left;
        padding-top: 4px; }
      .woocommerce-checkout form.checkout .col-1 input.input-text:focus,
      .woocommerce-checkout form.checkout .col-1 textarea:focus,
      .woocommerce-checkout form.checkout .col-2 input.input-text:focus,
      .woocommerce-checkout form.checkout .col-2 textarea:focus {
        border-color: #666; }
    .woocommerce-checkout form.checkout .col-2 {
      padding-top: 30px; }
      .woocommerce-checkout form.checkout .col-2 h3 {
        margin-left: 200px; }
        .woocommerce-checkout form.checkout .col-2 h3 label {
          margin: 0;
          padding: 0 0 0 44px;
          float: right; }
          .woocommerce-checkout form.checkout .col-2 h3 label.woocommerce-form__label-for-checkbox {
            padding-left: 0; }
        .woocommerce-checkout form.checkout .col-2 h3 input {
          margin-top: 0;
          float: left;
          margin-right: 15px; }
    .woocommerce-checkout form.checkout .form-row-first,
    .woocommerce-checkout form.checkout .form-row-last {
      width: 50%;
      float: left; }
    .woocommerce-checkout form.checkout .form-row-last {
      padding-left: 190px; }
      .woocommerce-checkout form.checkout .form-row-last label {
        margin-left: -130px; }
    .woocommerce-checkout form.checkout div.create-account {
      padding-left: 200px; }
      .woocommerce-checkout form.checkout div.create-account label {
        float: none;
        display: inline-block;
        margin-left: 0;
        padding-top: 0; }
      .woocommerce-checkout form.checkout div.create-account .form-row {
        padding-left: 0; }
    .woocommerce-checkout form.checkout table.shop_table {
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #eaebee; }
      .woocommerce-checkout form.checkout table.shop_table thead {
        display: none; }
      .woocommerce-checkout form.checkout table.shop_table tbody tr:first-child td {
        border-top: 0; }
      .woocommerce-checkout form.checkout table.shop_table th,
      .woocommerce-checkout form.checkout table.shop_table td {
        text-align: left;
        padding: 20px 0; }
      .woocommerce-checkout form.checkout table.shop_table td.product-name,
      .woocommerce-checkout form.checkout table.shop_table td span.amount,
      .woocommerce-checkout form.checkout table.shop_table tfoot th:first-child {
        font-weight: 500; }
      .woocommerce-checkout form.checkout table.shop_table tfoot th {
        text-transform: uppercase; }
    .woocommerce-checkout form.checkout .woocommerce-terms-and-conditions-wrapper .form-row,
    .woocommerce-checkout form.checkout .wc-terms-and-conditions {
      padding-left: 0; }
    .woocommerce-checkout form.checkout .woocommerce-terms-and-conditions-link {
      text-decoration: underline; }
    .woocommerce-checkout form.checkout .mc4wp-checkbox label {
      float: none;
      margin-left: 200px;
      cursor: pointer; }
      .woocommerce-checkout form.checkout .mc4wp-checkbox label span {
        padding-left: 40px;
        position: relative; }
        .woocommerce-checkout form.checkout .mc4wp-checkbox label span:before {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          left: 0;
          top: 0;
          border: 1px solid #e4e6eb;
          background-color: #e4e6eb;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
        .woocommerce-checkout form.checkout .mc4wp-checkbox label span:after {
          content: '';
          position: absolute;
          border-left: 2px solid #e4e6eb;
          border-bottom: 2px solid #e4e6eb;
          width: 12px;
          height: 6px;
          left: 6px;
          top: 7px;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          border-top-color: transparent;
          border-right-color: transparent;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
      .woocommerce-checkout form.checkout .mc4wp-checkbox label input:checked + span:before {
        border-color: #4138D4;
        background-color: #999; }
      .woocommerce-checkout form.checkout .mc4wp-checkbox label input:checked + span:after {
        border-color: #4138D4; }
  .woocommerce-checkout .woocommerce-shipping-fields h3 {
    font-size: 22.4px;
    font-size: 1.4rem;
    font-weight: 400; }
  .woocommerce-checkout .woocommerce-shipping-fields #ship-to-different-address label span::before,
  .woocommerce-checkout .woocommerce-shipping-fields #ship-to-different-address label span::after {
    margin-top: 5px; }
  .woocommerce-checkout .form-row.notes textarea {
    padding: 1em;
    border-color: #e7e7e7; }
    .woocommerce-checkout .form-row.notes textarea:focus {
      border-color: #666; }
  .woocommerce-checkout #payment {
    background: none;
    border-radius: 0; }
    .woocommerce-checkout #payment ul.payment_methods {
      padding: 0;
      border: 0;
      margin-bottom: 30px; }
      .woocommerce-checkout #payment ul.payment_methods li {
        line-height: 26/14; }
        .woocommerce-checkout #payment ul.payment_methods li label {
          line-height: 1.5; }
    .woocommerce-checkout #payment li {
      border-bottom: 1px solid #eaebee;
      padding: 30px 0; }
    .woocommerce-checkout #payment div.payment_box {
      background-color: transparent;
      padding: 0;
      margin-bottom: 0;
      margin-top: 20px; }
      .woocommerce-checkout #payment div.payment_box:before {
        display: none; }
      .woocommerce-checkout #payment div.payment_box .form-row {
        padding-left: 15px;
        padding-right: 15px; }
        .woocommerce-checkout #payment div.payment_box .form-row label {
          margin-left: 0;
          margin-right: 0;
          display: block; }
    .woocommerce-checkout #payment div.place-order {
      padding: 0;
      margin: 0; }
      .woocommerce-checkout #payment div.place-order .button {
        display: block;
        text-transform: uppercase;
        width: 100%;
        font-size: 1.125rem;
        line-height: 55px; }
    .woocommerce-checkout #payment label {
      font-weight: 400;
      text-transform: uppercase;
      padding-left: 44px; }
    .woocommerce-checkout #payment label.woocommerce-form__label-for-checkbox {
      padding-left: 0; }
    .woocommerce-checkout #payment .payment_method_paypal label:before {
      top: 10px; }
    .woocommerce-checkout #payment .payment_method_paypal label:after {
      top: 17px; }
    .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
      text-transform: none;
      text-decoration: underline;
      margin-left: 10px; }
    .woocommerce-checkout #payment .wc-credit-card-form label {
      padding-left: 0; }
    .woocommerce-checkout #payment .wc-credit-card-form .form-row-last label {
      margin-left: 0; }
  .woocommerce-checkout input#terms, .woocommerce-checkout input#createaccount {
    display: none; } }

@media only screen and (max-width: 1168px) {
  .woocommerce form .form-row-first, .woocommerce-page form .form-row-first,
  .woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
    float: none;
    width: 100%; } }

.woocommerce-privacy-policy-text {
  padding-bottom: 1.2em; }

.woocommerce-coupon-form.woocommerce-form-coupon-toggle .woocommerce-form-coupon input[name="coupon_code"] {
  padding-top: 17px;
  padding-bottom: 17px; }

.woocommerce-checkout.woocommerce-page:not(.hfeed).header--stick-headroom #content,
.woocommerce-checkout.woocommerce-page:not(.hfeed).header--stick-sticky #content {
  padding-top: 100px; }

.woocommerce-order .woocommerce-thankyou-order-received {
  text-align: center;
  margin-bottom: 4rem; }

.woocommerce-order .woocommerce-thankyou-order-details {
  max-width: 75%;
  padding-left: 0; }

.woocommerce-order h2.woocommerce-order-details__title {
  margin-bottom: 2rem; }

.woocommerce div.product,
.woocommerce-page div.product,
.woocommerce #content div.product,
.woocommerce-page #content div.product {
  /*= Tabs =*/
  /*=============================================<<<<<*/
  /*= Images and Summary Layout =*/
  /*=============================================<<<<<*/
  /*= Product Meta & Details =*/
  /*=============================================<<<<<*/
  /*= Form and Buttons =*/
  /*=============================================<<<<<*/
  /*= Reviews =*/
  /*=============================================<<<<<*/
  /*= Related Products =*/
  /*=============================================<<<<<*/ }
  .woocommerce div.product .product-intro.clearfix.js-stickybit-parent,
  .woocommerce-page div.product .product-intro.clearfix.js-stickybit-parent,
  .woocommerce #content div.product .product-intro.clearfix.js-stickybit-parent,
  .woocommerce-page #content div.product .product-intro.clearfix.js-stickybit-parent {
    overflow: visible; }
  .woocommerce div.product .woocommerce-tabs ul.tabs,
  .woocommerce-page div.product .woocommerce-tabs ul.tabs,
  .woocommerce #content div.product .woocommerce-tabs ul.tabs,
  .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
    text-align: center;
    overflow: visible;
    padding-top: 2em;
    padding-bottom: 1.5em; }
    @media only screen and (max-width: 768px) {
      .woocommerce div.product .woocommerce-tabs ul.tabs,
      .woocommerce-page div.product .woocommerce-tabs ul.tabs,
      .woocommerce #content div.product .woocommerce-tabs ul.tabs,
      .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
        text-align: left;
        padding-top: 0;
        margin-bottom: 0px; } }
    .woocommerce div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs li,
    .woocommerce #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
      border: none;
      background-color: transparent;
      border-radius: 0;
      padding: 0 1.5em; }
      @media only screen and (max-width: 600px) {
        .woocommerce div.product .woocommerce-tabs ul.tabs li,
        .woocommerce-page div.product .woocommerce-tabs ul.tabs li,
        .woocommerce #content div.product .woocommerce-tabs ul.tabs li,
        .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
          display: block;
          padding-bottom: 1em; }
          .woocommerce div.product .woocommerce-tabs ul.tabs li a,
          .woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
          .woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
          .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
            display: block; } }
      .woocommerce div.product .woocommerce-tabs ul.tabs li a,
      .woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
      .woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
      .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
        -o-transition: color 0.4s;
        -webkit-transition: color 0.4s;
        transition: color 0.4s;
        font-weight: 600;
        font-size: 1.125em;
        color: #999;
        padding-bottom: 0;
        text-transform: capitalize; }
        .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
        .woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,
        .woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
        .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover {
          color: #1f213a; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
      .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,
      .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
      .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
        color: #1f213a; }
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active a.underlined::after,
        .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a.underlined::after,
        .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a.underlined::after,
        .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a.underlined::after {
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li::before, .woocommerce div.product .woocommerce-tabs ul.tabs li::after,
      .woocommerce-page div.product .woocommerce-tabs ul.tabs li::before,
      .woocommerce-page div.product .woocommerce-tabs ul.tabs li::after,
      .woocommerce #content div.product .woocommerce-tabs ul.tabs li::before,
      .woocommerce #content div.product .woocommerce-tabs ul.tabs li::after,
      .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li::before,
      .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li::after {
        display: none; }
    .woocommerce div.product .woocommerce-tabs ul.tabs::before,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs::before,
    .woocommerce #content div.product .woocommerce-tabs ul.tabs::before,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs::before {
      display: none; }
  .woocommerce div.product table.shop_attributes,
  .woocommerce-page div.product table.shop_attributes,
  .woocommerce #content div.product table.shop_attributes,
  .woocommerce-page #content div.product table.shop_attributes {
    border-top: 0; }
    .woocommerce div.product table.shop_attributes td,
    .woocommerce div.product table.shop_attributes th,
    .woocommerce-page div.product table.shop_attributes td,
    .woocommerce-page div.product table.shop_attributes th,
    .woocommerce #content div.product table.shop_attributes td,
    .woocommerce #content div.product table.shop_attributes th,
    .woocommerce-page #content div.product table.shop_attributes td,
    .woocommerce-page #content div.product table.shop_attributes th {
      border-bottom: 1px solid #f1f2f4;
      border-right: 0; }
    .woocommerce div.product table.shop_attributes th,
    .woocommerce-page div.product table.shop_attributes th,
    .woocommerce #content div.product table.shop_attributes th,
    .woocommerce-page #content div.product table.shop_attributes th {
      color: #1f213a;
      font-weight: 400;
      padding: 15px 0;
      width: 195px;
      padding-left: 1.5em; }
    .woocommerce div.product table.shop_attributes td,
    .woocommerce-page div.product table.shop_attributes td,
    .woocommerce #content div.product table.shop_attributes td,
    .woocommerce-page #content div.product table.shop_attributes td {
      text-align: left;
      font-style: normal;
      color: #999; }
    .woocommerce div.product table.shop_attributes .alt td,
    .woocommerce div.product table.shop_attributes .alt th,
    .woocommerce-page div.product table.shop_attributes .alt td,
    .woocommerce-page div.product table.shop_attributes .alt th,
    .woocommerce #content div.product table.shop_attributes .alt td,
    .woocommerce #content div.product table.shop_attributes .alt th,
    .woocommerce-page #content div.product table.shop_attributes .alt td,
    .woocommerce-page #content div.product table.shop_attributes .alt th {
      background: transparent; }
    .woocommerce div.product table.shop_attributes tr:last-child th,
    .woocommerce div.product table.shop_attributes tr:last-child td,
    .woocommerce-page div.product table.shop_attributes tr:last-child th,
    .woocommerce-page div.product table.shop_attributes tr:last-child td,
    .woocommerce #content div.product table.shop_attributes tr:last-child th,
    .woocommerce #content div.product table.shop_attributes tr:last-child td,
    .woocommerce-page #content div.product table.shop_attributes tr:last-child th,
    .woocommerce-page #content div.product table.shop_attributes tr:last-child td {
      border-bottom: 0; }
  .woocommerce div.product div.summary,
  .woocommerce-page div.product div.summary,
  .woocommerce #content div.product div.summary,
  .woocommerce-page #content div.product div.summary {
    width: 44%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0em; }
    @media only screen and (min-width: 1366px) {
      .woocommerce div.product div.summary,
      .woocommerce-page div.product div.summary,
      .woocommerce #content div.product div.summary,
      .woocommerce-page #content div.product div.summary {
        padding-left: 3em;
        padding-right: 3em; } }
    @media only screen and (min-width: 1680px) {
      .woocommerce div.product div.summary,
      .woocommerce-page div.product div.summary,
      .woocommerce #content div.product div.summary,
      .woocommerce-page #content div.product div.summary {
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 4em; } }
    .woocommerce div.product div.summary .price,
    .woocommerce-page div.product div.summary .price,
    .woocommerce #content div.product div.summary .price,
    .woocommerce-page #content div.product div.summary .price {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.5em;
      color: #4138D4; }
      .woocommerce div.product div.summary .price del,
      .woocommerce-page div.product div.summary .price del,
      .woocommerce #content div.product div.summary .price del,
      .woocommerce-page #content div.product div.summary .price del {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        margin-right: 10px; }
      .woocommerce div.product div.summary .price ins,
      .woocommerce-page div.product div.summary .price ins,
      .woocommerce #content div.product div.summary .price ins,
      .woocommerce-page #content div.product div.summary .price ins {
        font-weight: 500; }
    @media only screen and (max-width: 1168px) {
      .woocommerce div.product div.summary form.cart div.quantity,
      .woocommerce div.product div.summary form.cart .single_add_to_cart_button,
      .woocommerce-page div.product div.summary form.cart div.quantity,
      .woocommerce-page div.product div.summary form.cart .single_add_to_cart_button,
      .woocommerce #content div.product div.summary form.cart div.quantity,
      .woocommerce #content div.product div.summary form.cart .single_add_to_cart_button,
      .woocommerce-page #content div.product div.summary form.cart div.quantity,
      .woocommerce-page #content div.product div.summary form.cart .single_add_to_cart_button {
        margin-bottom: 1em;
        width: 100%; } }
  .woocommerce div.product div.images,
  .woocommerce-page div.product div.images,
  .woocommerce #content div.product div.images,
  .woocommerce-page #content div.product div.images {
    width: 54%; }
  @media only screen and (max-width: 768px) {
    .woocommerce div.product div.summary, .woocommerce div.product div.images,
    .woocommerce-page div.product div.summary,
    .woocommerce-page div.product div.images,
    .woocommerce #content div.product div.summary,
    .woocommerce #content div.product div.images,
    .woocommerce-page #content div.product div.summary,
    .woocommerce-page #content div.product div.images {
      width: 100%; } }
  .woocommerce div.product .woocommerce-product-details__short-description,
  .woocommerce-page div.product .woocommerce-product-details__short-description,
  .woocommerce #content div.product .woocommerce-product-details__short-description,
  .woocommerce-page #content div.product .woocommerce-product-details__short-description {
    margin-bottom: 2em; }
  .woocommerce div.product .product_meta,
  .woocommerce-page div.product .product_meta,
  .woocommerce #content div.product .product_meta,
  .woocommerce-page #content div.product .product_meta {
    border-top: 1px solid #e7e7e7;
    padding-top: 2em;
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 0.875rem;
    color: #999; }
    .woocommerce div.product .product_meta .sku,
    .woocommerce-page div.product .product_meta .sku,
    .woocommerce #content div.product .product_meta .sku,
    .woocommerce-page #content div.product .product_meta .sku {
      color: #666975; }
    .woocommerce div.product .product_meta .posted_in,
    .woocommerce-page div.product .product_meta .posted_in,
    .woocommerce #content div.product .product_meta .posted_in,
    .woocommerce-page #content div.product .product_meta .posted_in {
      margin-left: 1.5em; }
  .woocommerce div.product .group_table,
  .woocommerce-page div.product .group_table,
  .woocommerce #content div.product .group_table,
  .woocommerce-page #content div.product .group_table {
    margin-bottom: 1em; }
  .woocommerce div.product .group_table td,
  .woocommerce-page div.product .group_table td,
  .woocommerce #content div.product .group_table td,
  .woocommerce-page #content div.product .group_table td {
    vertical-align: middle;
    padding-bottom: 1em; }
  .woocommerce div.product .woocommerce-grouped-product-list-item__label,
  .woocommerce-page div.product .woocommerce-grouped-product-list-item__label,
  .woocommerce #content div.product .woocommerce-grouped-product-list-item__label,
  .woocommerce-page #content div.product .woocommerce-grouped-product-list-item__label {
    padding: 0; }
    .woocommerce div.product .woocommerce-grouped-product-list-item__label label,
    .woocommerce-page div.product .woocommerce-grouped-product-list-item__label label,
    .woocommerce #content div.product .woocommerce-grouped-product-list-item__label label,
    .woocommerce-page #content div.product .woocommerce-grouped-product-list-item__label label {
      margin-bottom: 0;
      padding: 0 1.5em; }
  .woocommerce div.product form.cart .button, .woocommerce div.product p.cart .button,
  .woocommerce-page div.product form.cart .button,
  .woocommerce-page div.product p.cart .button,
  .woocommerce #content div.product form.cart .button,
  .woocommerce #content div.product p.cart .button,
  .woocommerce-page #content div.product form.cart .button,
  .woocommerce-page #content div.product p.cart .button {
    min-width: 220px;
    float: none; }
  .woocommerce div.product form.cart .reset_variations, .woocommerce div.product p.cart .reset_variations,
  .woocommerce-page div.product form.cart .reset_variations,
  .woocommerce-page div.product p.cart .reset_variations,
  .woocommerce #content div.product form.cart .reset_variations,
  .woocommerce #content div.product p.cart .reset_variations,
  .woocommerce-page #content div.product form.cart .reset_variations,
  .woocommerce-page #content div.product p.cart .reset_variations {
    font-size: 1em; }
  .woocommerce div.product #review_form #respond,
  .woocommerce-page div.product #review_form #respond,
  .woocommerce #content div.product #review_form #respond,
  .woocommerce-page #content div.product #review_form #respond {
    margin: auto; }
  .woocommerce div.product .woocommerce-noreviews,
  .woocommerce-page div.product .woocommerce-noreviews,
  .woocommerce #content div.product .woocommerce-noreviews,
  .woocommerce-page #content div.product .woocommerce-noreviews {
    text-align: center;
    color: rgba(0, 0, 0, 0.5); }
  .woocommerce div.product #reply-title,
  .woocommerce-page div.product #reply-title,
  .woocommerce #content div.product #reply-title,
  .woocommerce-page #content div.product #reply-title {
    font-size: 1.125em;
    color: #1f213a;
    font-weight: 500;
    padding-bottom: 1em;
    display: block;
    text-align: left; }
  .woocommerce div.product .comment-form-rating label,
  .woocommerce-page div.product .comment-form-rating label,
  .woocommerce #content div.product .comment-form-rating label,
  .woocommerce-page #content div.product .comment-form-rating label {
    -webkit-transform: none;
    -ms-transform: none;
        transform: none; }
  .woocommerce div.product p.stars a,
  .woocommerce-page div.product p.stars a,
  .woocommerce #content div.product p.stars a,
  .woocommerce-page #content div.product p.stars a {
    margin-right: 2px; }
    .woocommerce div.product p.stars a, .woocommerce div.product p.stars a::before,
    .woocommerce-page div.product p.stars a,
    .woocommerce-page div.product p.stars a::before,
    .woocommerce #content div.product p.stars a,
    .woocommerce #content div.product p.stars a::before,
    .woocommerce-page #content div.product p.stars a,
    .woocommerce-page #content div.product p.stars a::before {
      width: 1.2em;
      height: 1.2em; }
    .woocommerce div.product p.stars a::before,
    .woocommerce-page div.product p.stars a::before,
    .woocommerce #content div.product p.stars a::before,
    .woocommerce-page #content div.product p.stars a::before {
      font-size: 1.2em; }
  .woocommerce div.product .related.products,
  .woocommerce-page div.product .related.products,
  .woocommerce #content div.product .related.products,
  .woocommerce-page #content div.product .related.products {
    padding-top: 1em; }
    .woocommerce div.product .related.products > h2,
    .woocommerce-page div.product .related.products > h2,
    .woocommerce #content div.product .related.products > h2,
    .woocommerce-page #content div.product .related.products > h2 {
      text-align: center;
      margin-bottom: 1.5em;
      text-transform: capitalize; }

.woocommerce #content div.product div.images .flex-control-thumbs {
  margin-top: 1em; }

@media only screen and (min-width: 1168px) {
  .woocommerce #content div.product div.images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .woocommerce #content div.product div.images .flex-viewport {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      width: calc(100% - 100px); }
    .woocommerce #content div.product div.images .woocommerce-product-gallery__wrapper {
      width: 100%; }
    .woocommerce #content div.product div.images .flex-control-thumbs {
      margin-top: 0;
      margin-right: 1em;
      overflow: visible; }
      .woocommerce #content div.product div.images .flex-control-thumbs li {
        float: none;
        width: 100px;
        margin-bottom: 1em;
        position: relative; }
        .woocommerce #content div.product div.images .flex-control-thumbs li img {
          -o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
          -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
          .woocommerce #content div.product div.images .flex-control-thumbs li img.flex-active {
            -webkit-box-shadow: -5px 0px 0px 0px white, -10px 0px 0px 0px #4138D4;
                    box-shadow: -5px 0px 0px 0px white, -10px 0px 0px 0px #4138D4; } }
