.customize-control-description {

    background: white;
    border-radius: 4px;
    margin: 0;
    // padding: 5px;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s;
    &.active {
        visibility: visible;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 1em;
        max-height: 150px;
        opacity: 1;
    }
}
.customize-control-title {
    > .dashicons {
        vertical-align: middle;
        margin-left: 2px;
        margin-top: -2px;
        cursor: pointer;
        &:hover {
            color: #999;
        }
        &.active, &.active:hover {
            color: $brand_color;
        }
    }
}