.google_fonts_select_control {
    > .customize-control-title {
        margin-left: -12px;
        margin-right: -12px;
        padding: 5px 0 5px 12px;
        background: rgba(white, .75);
        box-shadow: 0 -15px 0 0px rgba(black, .03);
    }
    .google-fonts, .weight-style {
        margin-bottom: 10px;
    }
}

.google_fonts_select_control .weight-style.weight,
#customize-control-font_menu_text_transform {
    display: flex !important;
    align-items: center;
    > * {
        flex: 0 0 50%;
    }
}
.google_fonts_select_control .weight-style.weight,
.google_fonts_select_control .weight-style.variants,
#customize-control-font_menu_text_transform {
    .customize-control-title {
        margin-bottom: 0;
        font-weight: 500;
    }
}
.customize-control.customize-control-google_fonts {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: none !important;
}
.ss-main .ss-content .ss-list {
    max-height: 210px ;
}