#customize-control-header_bg, #customize-control-header_wrapper {
    width: 50%;
    float: left;
    box-sizing: border-box;
    clear: none;
}
#customize-control-header_wrapper {
    padding-right: 10px;
}
#customize-control-header_bg {
    padding-left: 10px;
}
#customize-control-header_txt_color {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    > * {
        flex: 0 0 46%;
    }
    .customize-control-title {
        margin-bottom: 0;
    }
}