.text_radio_button_control {

    &:after {
    	content: " ";
    	display: block;
    	clear: both;
    }
    .radio-buttons {
    	display: inline-block;
    }

    .radio-button-label {
    	cursor: pointer;
    	float: left;

        > input {
       	display: none;
       }

       span {
        cursor: pointer;
        font-weight: 500;
        // border: 2px solid #f9f9fe;
        margin: 0;
        background-color: #eee;
        padding: 6px 15px;
        display: inline-block;
       }

       &:first-child span {
            border-radius: 4px 0 0 4px;
       }
       &:last-child span {
            border-radius: 0 4px 4px 0;
       }

    }
}
.text_radio_button_control .radio-button-label span {
    background-color: rgba(#66c6e4, .1);
    background-color: #fff;
}

.text_radio_button_control .radio-button-label span:hover {
	background-color: rgba(255, 255, 255, .2);
	color: #2885bb;
}
.text_radio_button_control .radio-button-label > input:checked + span {
	background-color: #008ec2;
	color: #fff;
}
.text_radio_button_control .radio-button-label > input:checked + span:hover {
	color: #fff;
}
