/* ==========================================================================
   Image Radio Buttons
   ========================================================================== */
.image_radio_button_control .radio-button-label > input {
	display: none;
}
.image_radio_button_control .radio-button-label  {

	> img {
		cursor: pointer;
		border: 3px solid #ddd;
	}

	> input:focus + img {
		border: 3px solid #999;
	}

	> input:checked + img {
		border: 3px solid #2885bb;
	}

}

.image_radio_button_control .radio-button-label > input + img {
  	margin: 2px;
	border-radius: 5px;
}