.range-slider-std {
    width: 100%;
		margin-bottom: 1em;
}

.range-slider-std__range {
    -webkit-appearance: none;
    width: calc(100% - (85px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $brand_color;
        cursor: pointer;
        -webkit-transition: background .15s ease-in-out;
        transition: background .15s ease-in-out;
    }

    &:focus::-webkit-slider-thumb, &:focus:active::-webkit-slider-thumb {
        background-color: white;
        box-shadow: inset 0 0 0 5px $brand_color, 0 10px 15px -5px rgba( $brand_color, .5);
    }

}


.range-slider-std__range::-webkit-slider-thumb:hover {
    background: $brand_color;
}

.range-slider-std__range:active::-webkit-slider-thumb {
    background: $brand_color;
}

.range-slider-std__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: $brand_color;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider-std__range::-moz-range-thumb:hover {
    background: $brand_color;
}

.range-slider-std__range:active::-moz-range-thumb {
    background: $brand_color;
}

.range-slider-std__value {
    display: inline-block;
    position: relative;
    width: 50px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 100px;
    background: $brand_color;
    padding: 3px 6px;
    margin-left: 8px;
}


::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}
.disabled-control-title {
	opacity: .6;
}