

.range-slider {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    &__range {
        background-color: #d7dcdf;
        height: 10px;
        border-radius: 10px;
        width: 67%;
        padding: 0;
        cursor: pointer;
        outline: none;
        transition: background .5s;
        -webkit-appearance: none;
        &:focus::-webkit-slider-thumb, &:focus:active::-webkit-slider-thumb {
                background-color: white;
                box-shadow: inset 0 0 0 5px $brand_color, 0 10px 15px -5px rgba( $brand_color, .5);
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 15px;
            // background-color: $brand_color;
            background-color: white;
            box-shadow: inset 0 0 0 4px $brand_color, 0 10px 15px -5px rgba( $brand_color, .5);
            transition: all .3s;
            &:hover {
                background-color: white;
                box-shadow: inset 0 0 0 3px $brand_color;
            }
        }
        &::active::-webkit-slider-thumb {
            background: #0085ba;
        }
        &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border: 0;
            border-radius: 50%;
            background: #0085ba;
            cursor: pointer;
            transition: background .15s ease-in-out;

            &:hover {
                background: #0085ba;
            }
        }
    }

    & &-std__value {
        padding: 3px 2px;
        margin-left: 10px;
    }
}


.range-slider__range:active::-moz-range-thumb {
    background: #0085ba;
}

.customize-control input[type=number].range-slider-value {
    width: 21%;
    height: 28px;
    text-align: center;
    margin-left: 3%;
    margin-right: 2%;
    border-radius: 4px;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #555;
    -moz-appearance: textfield;

}

.customize-control input[type=number].range-slider-value::-webkit-outer-spin-button,
.customize-control input[type=number].range-slider-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.customize-control input[type=number].range-slider-value {
    -moz-appearance: textfield;
}

.range-reset-slider .dashicons{
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 1;
}

.customize-control span.range-reset-slider {
    display: inline-block;
    position: relative;
    width: 6%;
    line-height: 1;
    margin-left: 6px;
    color: rgba(0,0,0,.2);
    cursor: pointer;
    text-align: center;
    transition: all .2s ease;
}
.customize-control span.range-reset-slider:hover {
    color: #fe5252;
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}

.customize-control-range-value .customize-control-title,
.customize-control-range-value .responsive-switchers{
    display: inline-block;
}

.responsive-switchers{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.responsive-switchers .preview-tablet,
.responsive-switchers .preview-mobile{
    display: none;
}

.desktop-range,
.tablet-range,
.mobile-range{
    display: none;
    width:100%;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
}

.desktop-range.active,
.tablet-range.active,
.mobile-range.active{
    display: flex;
}

.customize-control .responsive-switchers { margin-left: 5px; width: auto; line-height: 0; }
.customize-control .responsive-switchers-open li button { display: block; }
.customize-control .responsive-switchers li { display: inline-block; margin: 0; }
.customize-control .responsive-switchers li button { height: 22px; width: 22px; background-color: #a4afb7; cursor: pointer; position: relative; margin-left: 5px; color: #fff; font-size: 10px; text-align: center; border-radius: 50%; padding: 0; border: 0; outline: none; -webkit-transition: background-color .5s; transition: background-color .5s; cursor: pointer; }
.customize-control .responsive-switchers li button:hover { background-color: #c2cbd2; }
.customize-control .responsive-switchers li button.active { background-color: $brand_color; }
.customize-control .responsive-switchers li button i { width: auto; height: auto; font-size: 12px; line-height: 14px; }