#customize-control-custom_logo,
#customize-control-logo_light {
    img {
        max-height: 100px;
    }
}

#customize-control-logo_type {
    .customize-inside-control-row {
        display: inline;
        margin-right: 15px;
    }
}
.customize-control-radio .customize-control-title {
        margin-bottom: .5em !important;
}

#customize-control-logo_light {
    .thumbnail-image {
        background: desaturate( rgba($brand_color, .2), 50%) ;
        border-radius: 4px;
        padding: 15px;
        margin-top: 6px;
    }
}