#sub-accordion-section-typo_head {

    .customize-control:not(:nth-child(3n+1)) {
        padding-bottom: 0;
        margin-bottom: 10px;
        border-bottom: none;
    }

    .customize-control-simple_notice {

        .simple-notice-custom-control {
            > .customize-control-title {
                margin-left: -12px;
                margin-right: -12px;
                padding: 5px 0 5px 12px;
                background: rgba(white, .75);
                box-shadow: 0 -15px 0 0px rgba(black, .03);
            }
            .google-fonts, .weight-style {
                margin-bottom: 10px;
            }
        }
    }

}