.fx-share{
	clear: both;
}
.fx-share:before,
.fx-share:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.fx-share ul{
	padding: 0 !important;
	margin: 0 0 .7em 0 !important;
	list-style: none !important;
}
.fx-share ul li{
	display: inline-block;
}


/* Buttons */
.kiotheme-button{
	text-decoration: none !important;
	display: inline-block;
	margin: 0 5px 5px 0;
	font-size: 12px;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	border-radius: 3px;
	color: #777 !important;
	background: #f8f8f8;
	border: 1px solid #cccccc;
	box-shadow: 0 1px 0 rgba(0,0,0,.08);
	text-shadow: none;
	line-height: 23px;
	padding: 1px 8px 0px 5px;
}
.kiotheme-button:hover,
.kiotheme-button:focus,
.kiotheme-button:active{
	color: #555;
	background: #fafafa;
	border: 1px solid #999999;
}
.kiotheme-button:active{
	box-shadow: inset 0 1px 0 rgba(0,0,0,.16);
}
.kiotheme-button:before{
	content: "";
	font-family: "fx-share";
	vertical-align: top;
	margin-right: 3px;
	-webkit-font-smoothing: antialiased;
}
.kiotheme-button-facebook:before{
	content: "f";
}
.kiotheme-button-twitter:before{
	content: "t";
}
.kiotheme-button-google_plus:before{
	content: "g";
}